body {
    font-family: 'Pixelify Sans';
    display: flex;

    flex-direction: column;
    align-items: center;

    background-image: url('space.jpg');
    background-size: cover;
    color: blanchedalmond;
}

h1 {
    color: blanchedalmond;
}

.icons {
    position: absolute;
    color: blanchedalmond;
    height: 32px;
    width: 32px;
    cursor: pointer;
}


#board {
    height: 700px;
    width: 700px;
    margin: 0;
    padding: 0;
}

#ship {
    position: absolute;

    height: 50px;
    width: 100px;
    background-image: url('ship.png');
    background-size: cover;
}

.bullets {

    width: 5px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}

.Xbullets {
    background-color: rgb(255, 255, 255);
}

.Ybullets {
    background-color: rgb(60, 255, 0);
}

#score {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    font-size: 20px;
}

#level {
    color: rgb(255, 255, 255);
    position: absolute;
    width: 80px;
    height: 30px;
    font-size: 20px;
}

.enemy {
    height: 25px;
    width: 40px;
    background-image: url('InvaderB1.png');
    background-size: cover;
}

#enemysDiv {
    position: absolute;
    width: 500px;
    height: 500px;
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: repeat(8, 62.5px);
    grid-template-rows: repeat(8, 40px);
    justify-items: center;
}

#level {
    position: absolute;
}

#textAnimation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

#cursor {
    font-weight: bold;
}

#lives {
    width: 150px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Walls{
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.wall {
    width: 100px;
    height: 60px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 10px);
    grid-template-rows: repeat(6, 10px);
}

.pixel {
    width: 10px;
    height: 10px;
    background-color: rgb(60, 255, 0);
}

.empty {
    grid-row: 4/7;
    grid-column: 4/8;
}