body {
    font-family: 'Pixelify Sans';
    display: flex;

    flex-direction: column;
    align-items: center;

    background-image: url('s.webp');
    background-size: cover;
    color: blanchedalmond;
    justify-content: center;
}

h1 {
    color: blanchedalmond;
}





/**********************************/

#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    z-index: -1;
}

/**********************************/


.icons {
    position: absolute;
    color: blanchedalmond;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#ship {
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url('p88.png');
    background-size: cover;
}

.bullets {
    width: 20px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
}

.Xbullets {
    background-image: url("a.png");
}

.Ybullets {
    background-image: url("22.png");
}

#boardHeader {
    width: 100%;
    display: flex;
    /* Enables flexbox layout */
    justify-content: space-around;
    /* Distributes items with space between */
    align-items: center;
    /* Vertically centers the items */
    padding: 10px 20px;
    /* Adds padding around the header */
    box-sizing: border-box;
    /* Ensures padding is included in the width */
    color: white;
    /* Sets the text color for visibility */
    font-size: 18px;
    /* Sets a uniform font size */
}

#boardFooter {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

#board {
    height: 700px;
    width: 700px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(0, 0, 0);
    /** box-shadow: 0 5px 10px 0 rgba(102, 102, 102, 0.37);**/
}

.livesimg {
    height: 30px;
    width: 40px;
}


.enemy {
    height: 25px;
    width: 40px;
    background-image: url('InvaderB1.png');
    background-size: cover;
}

#enemysDiv {
    position: absolute;
    width: 500px;
    height: 500px;
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: repeat(8, 62.5px);
    grid-template-rows: repeat(8, 40px);
    justify-items: center;
}


#textAnimation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

#cursor {
    font-weight: bold;
}


#Walls {
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.wall {
    width: 100px;
    height: 60px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.pixel {
    width: 10px;
    height: 10px;
    background: rgba(61, 212, 86, 0.74);
}

.empty {
    grid-row: 4/7;
    grid-column: 4/8;
}

#menu {
    height: 300px;
    width: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background: rgba(11, 116, 29, 0.25);
    box-shadow: 0 5px 32px 0 rgba(46, 235, 36, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.btn {
    font-size: 25px;
    border: none;
    background-color: transparent;
    font-family: 'Pixelify Sans';
    color: white;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 8px 32px 0 rgb(108, 242, 90);
}



@media (max-width: 870px) {
    body {
        flex-direction: column;
        padding: 10px;
    }

    #board {
        height: 80vh;
        width: 90vw;
    }

    #menu {
        width: 90%;
        height: 200px;
    }

    .btn {
        font-size: 18px;
    }


}

@media (max-width: 560px) {
    .bullets {
        width: 15px;
        height: 25px;
    }

    .enemy {
        height: 16px;
        width: 26px;
    }

    #enemysDiv {
        width: 85vw;
        grid-template-columns: repeat(8, 1fr);
    }

    .wall {
        width: 60px;
        height: 40px;
    }

    .pixel {
        width: 7px;
        height: 7px;
    }


    #boardHeader {
        font-size: 15px;
    }

    #textAnimation {
        font-size: 50px;
    }
}